<ul>
    {{#each burgers}}
    <li>
        <p>
            {{id}}. {{burger_name}} {{devoured}}
            <button data-id="{{id}}" class="devour-button">Devour</button>
        </p>
    </li>
    {{/each}}
</ul>